<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>22년 1학기 SA 프로젝트 index</title>
</head>
<body>
  <h1>소프트웨어 아키텍처 프로젝트</h1>
  <h3>소프트웨어 아키텍처 프로젝트 과제물입니다. </h3>
  <p>flask와 tensorflow serving를 VM 아키텍처를 사용하는 도커상에서 작동하도록 구현하는 프로젝트입니다.</p>
  <p>docker를 사용하여 서로 다른 컴퓨터(개발:window-desktop, 테스트:linux-laptop, 배포:linux-AWS_EC2)에서도 문제없이 작동하도록 합니다 </p>  
  <hr>
  <h2>서비스</h2>
  <ul>
    <li><a href="canvas">캔버스로 그린 뒤 인공지능으로 테스트</a></li>
    <li><a href="upload">이미 준비된 이미지 업로드하여 인공지능으로 테스트</a></li>
  </ul>
</body>
</html>